
.DS_Store

tactictoe.xcodeproj/project.xcworkspace/contents.xcworkspacedata

tactictoe.xcodeproj/project.xcworkspace/xcuserdata/owen.xcuserdatad/UserInterfaceState.xcuserstate

*.xcscheme

tactictoe.xcodeproj/xcuserdata/owen.xcuserdatad/xcschemes/xcschememanagement.plist
